$text-color: #FFF;
$brand-dark: #000639;
$brand-light: #5c6ac4;
$success-color: #7AB55C;
$error-color: #C23628;

$base-font-size: 16px;
$title-font-size: 24px;
$field-status-font-size: 13px;

$radius: 5px;

/*@mixin box-shadow($shadow){
	-webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}*/

@mixin transition($smooth){
	-webkit-transition: $smooth;
       -moz-transition: $smooth;
		-ms-transition: $smooth;
			transition: $smooth;
}

#wrong {color: $error-color;}
#correct {color: $success-color;}
.top {margin-bottom: 0.5em;}

body, html {
	margin: 0px;
	background-color: $brand-dark;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

#header {
	width: 100%;
	height: 100%;
}

.flex {
	display: flex;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	justify-content: center;
}

.text {
	width: 85%;
	text-align: center;
	color: $text-color;
	h1 {
		font-size: $title-font-size;
	}
	p {
		font-size: $base-font-size;
		font-weight: 100;
	}
}

#form {
	display: inline-block;
	width: 100%;
	#submit {
		font: {
			size: $base-font-size;
			weight: 600;
		}
		color: $text-color;
		background-color: $brand-light;
		border-radius: $radius;
		border-style: none;
		height: 53px;
		padding: 1.0625em 1.875em;
		line-height: 1.333;
		@include transition(all 150ms ease);
//		@include box-shadow(0 5px 15px 0 rgba(0,0,0,0.15));
		&:hover {
			background: rgba(92, 106, 196, 0.5);
		}
	}
	#email {
		border: 2px solid transparent;
		border-radius: $radius;
		max-height: 52px;
		width: 50%;
		padding: 1.0625em 1em;
		font-size: $base-font-size;
		@include transition(all 150ms ease);
		outline: none;
		margin-right: 10px;
		&:focus {
			border: 2px solid $brand-light;
		}
	}
}

@media only screen and (max-width: 425px){
	.text {
		width: 95%;
		h1 {
			font-size: $title-font-size/1.4;
		}
		p {
			font-size: $base-font-size/1.4;
		}
	}
	#form {
		#email {
			width: 80%;
			margin-bottom: 1em;
		}
	}
	
}
